@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body{
    color: white;
    font-size: 10px;
    font-family: 'El Messiri', 'Times New Roman', Times, serif;
    height: 100vh;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(60deg, #2c7889 0%, #054756 100%);
}
a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
/* Style the header */
header{
    background-image: linear-gradient(60deg, #2c7889 0%, #054756 100%);
}
header .container{
    display: flex;/*Deixa responsivo*/
    align-items: center;
    justify-content: space-between;
    max-width: 980px;/*Até aonde para de crescer*/
    height: 80px;
    margin: auto;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
} 
header nav ul li a{
    text-decoration: none;/*Remove configurações*/
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;/*Efeito de transição na abertura*/
}
/* Style the Logo*/
header img{
    flex-basis: auto;
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: relative;
}
/*Style the menu*/
#_menu .cta{
    display: inline-block;
    padding: 10px 30px;
    color: darkorange;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}
#_menu .cta:hover{
    color: white;
    font-weight: 500;
    background-color: darkorange;
}

/* Seção de apresentação*/

#presentation{
    background-image: url(./BackGround.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;    
}
#presentation .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#presentation h1{
    display: flex;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: darkorange;
}

#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/* Seção de Portfolio*/
.section-title{
    font-size: 4rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    background-image: linear-gradient(60deg, #2c7889 0%, #054756 100%);
}
#portfolio .portfolio{
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    padding: 100px 0;
}

#portfolio .portfolio-header h1{
    margin-bottom: 50px;
}

#portfolio .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #2c7889 0%, #054756 100%);
    color: white
}

#portfolio .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#portfolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#portfolio .project-info a{
    color: darkorange;
}
#portfolio .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}

#portfolio .project-img img{
    transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

/*Style the footer*/
footer img{
    flex-basis: auto;
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
}

/* Key Frames */
@keyframes text_reveal{
    100%{
        color: white;
    }
}

@keyframes text_reveal_name{
    100%{
        color: darkorange;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

/* Media Query */
@media only screen and (min-width: 768px){
    #portfolio .project-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .project-item:nth-child(even){
        flex-direction: row-reverse;
    }

    #portfolio .all-projects .project-info{
        height: 100%;
    }

    #portfolio .all-projects .project-img{
        height: 100%;
    }

    
}