.card ul li strong:hover,
.card ul li img:hover,
.card h2:hover{
  transform: scale(1.1);
}

.card ul li strong,
.card ul li img,
.card h2{
  transition: transform 0.3s;
}

.card{
  opacity: 0;
  animation: appear .2s forwards;
}

@keyframes appear{
  0%{
    transform: translateY(-50px);
    opacity: 0;;
  }
  100%{
    opacity: 1;
  }
}